* {
    margin: 0;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

/* header.js css */
.headerContainer {
    background-color: black;
    color: white;
    display: flex;
    width: 100vw;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.headerTitle {
    font-size: 3rem;
}

/* home.js style changes */
.bodyContainer {
    margin: 1rem;
    padding: 1rem;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
}

/* menu.js style */

.foodPic {
    height: 4rem;
}