* {
    margin: 0;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

/* header.js css */
.headerContainer {
    background-color: black;
    color: white;
    display: flex;
    width: 100vw;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.headerTitle {
    font-size: 3rem;
}

/* footer.js style */

.footerContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* home.js style changes */
.bodyContainer {
    margin: 1rem;
    padding: 1rem;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 50vh;
}

/* menu.js style */
.menuContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightblue;
    width: 70vh;
    padding: 1rem;
}

.foodBox {
    background-color: darkblue;
    width: auto;
    padding: 0.5rem;
    color: wheat;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 0.5rem;
}

.foodName {
    font-size: 1.5rem;
}

.foodPic {
    height: 4rem;
}